Source: lookalike
Section: user/graphics
Priority: extra
Maintainer: Andres Gomez <agomez@igalia.com>
Build-Depends: libgallerycore-dev (>= 1.111026.3),
               debhelper (>= 7.0.50),
               cdbs (>= 0.4.87),
               libqt4-dev,
               libmeegotouch-dev (>= 0.20.37),
               libquillimagefilter-dev (>= 1.111103.0),
               libqtsparql-dev (>= 0.0.17),
               libqtsparql-tracker-live-dev (>= 0.0.4),
               libqmsystem2-dev,
               doxygen,
               maemo-meegotouch-interfaces-dev (>= 0.3.21),
               libmcontentwidgets-dev (>= 0.12.4),
               libqtm-contacts-dev,
               libqtm-systeminfo-dev,
               libcontentaction-dev,
               libsp-timestamp-dev,
               libmemnotifyqt1-dev,
               libfacerecognition-dev,
               libduicontrolpanel-dev,
               graphviz,
               aegis-builder
Standards-Version: 3.9.1
Homepage: https://www.igalia.com

Package: lookalike
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, tracker (>= 0.10.29)
Description: Harmattan Lookalike application.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAAOMgAADjIBFAayJAAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAABatSURBVHic3V1plFzFdf6q6i29z6bZpJEY
 MZbMakloY18ltphjvMRxcBLjLNiO7dgoxufEAWwD5ySHHIwTcBzjOHbig5fE
 OBBsywSD2ZEQQmJHElrQDNIMo1l7e1vVzY+3dPdMz9LdAwfn9ql+PW+puu97
 9966dd+tGkZEeKfoR5ftOk7oarOuYyMTqoszJBhHknGKc444OMU4Q4xxmIzD
 4JwMAFCKOaTgkIKtCBYUs5RCkRQrkkJeEQok+aDrYrt0+YNXbV3zxjt1T+zt
 APCnH36eyaK3Ueh0oabTWt2gE/SYWsagUm7Rg1fwIF0FkgAp8oucvlXK541z
 BiYYWLUtZ2ACELqAlhDQ4xoIPOda/LDrsNc8l+2ULntYxLXtf3DPqgW/2QUF
 8O7fe/YjsaT8Yjwl1yvXM7yihFvwEG6VqxasrdmI6xx6QoMWF9GW65pTzIkd
 Vl588+O/XPezhWqrYQC/v/nZ7lhSXp9Iy48Abkdx2EZxxIKS75xpmA9xwRBv
 iyHebgLQ3ypkxc+svLjlkw+uO9pIvXUD+INLt380kZZbYkm51h63tPywBTfv
 NcLLO0Z6UkOyPQazOeZZebGzkBXfuPrXG/+znrpqBvA7Fz4bSzU598aT9iW5
 wQKKozboXSZt8yUmGOKtJlJdCRTz5gO5CePKTz28zqqpjloAvGvTtg1N7e69
 sljsHn8j2xBwhMZBZ2AN1wH4QDYfl4aIx49ODOtXXvOb05+Z97XzBfBfL3vq
 +qY254bskayRH67pIUU0H9Dm4oex6qAtBJjJ9hjSi9POxIhx859vPfOW+Vwz
 J4B3nLctkW5xt5ox69zR/ZNwi7XbuanA+W1ScKzyzGrnR8yCAQFQ4fdUQBsF
 Uo9raO3LwLZij2XH9Ms+/+jphdnO1+aqMNnkbIXKn3v0pUmQqk3tyoEgEED+
 HoKatq90fuVVPrESYCGMjAd7uH+MhUeo4opaSeZdHH1pFK3HZ85NNiW3Ajhv
 tvNnlcB/3vz4DemW4k2DL482DB4RgaBApKBAUKTKgFT+2UTRdYTSb1b+YSwA
 jYMxBg4OzngJ2ghIRNfWQ4wzdJ3ciuxY/Ma/fPCcm2c8byYAbz//8Q2tXfYT
 w6+N6rWqbQV4pOBDRlAkIUlCwd+WHwvBUyGoNAXAABgfMAHOODgEOBMQTICD
 gzHub6cAWS+IelxD+wmt7uigefa1j5xTtWOpCuCtZ22LtXYVDmUHxztzw8Wa
 G46kKABIkYKEB0kePHIhlRf9rcpApEAqSxI7FUAfPAEBwTQIpkELtmEJAQ4l
 tFEQU+1xpLuah0YHE71ffvL0ab1nVRsYzxTut/P5zomhWe3nDBRYMvKBkOSD
 5SkXLtlwyYGrHLjkwMxoyI3noSAjlaZIvUsdTajEobQJhODp0LkBjRnQmB4V
 wTRfSgP19q8noA4QJ4YKMNJ6ZzyD+wFsnnp8mgTees5vP5Zpt3585MWROoZj
 JfvlS5aERx48cuAoC7YqwlEWHLLgwcG1//FHeOxnO/D4z5+FFhM4+cwVWHXe
 e9Ha1YRMawqZtjSICBPHssiO5jAxksPAniHs2X4Ib+0fgwYdGjNhcBM6C0oZ
 oL5qizIQUReIXDAsPrUNk8OxP/zy4xf8pPzYNAk0UvJLowM5uHUN/EvSVwle
 EbYqgiUlmjpjGHhjFCee04uO41oxMjaCK75wHs65Yj3MuFm11vaeVrT3tAIA
 1lxwEq74NJAdzWP3I6/ikR/vxOTRcRg8BpPFYfAYDC6hMxWASFNArF0SpSKM
 DuSQaNO/BKACwAoJvGXjQ4tberzDh3cNiXqCAWE3QESBvXPgkAVbFVBUOSxZ
 1YxP/eOH/OOeAimFY0Nj6F7WUXNbISmpsPOhl/Hr725DfshBjCdh8DhMHofO
 YgGIekVvXa8ULlvTKccGtGXXb7/oSLhffO1rX4tOevLu179pFwtrJ49ZUIQa
 C/lFESRJuOTBIRu2KqKo8iiqHI6NHMObA0fRd8pSxJMmuOBINSXrBg/wRyaL
 +zqw/vKTMfzWCA7vGwIRQMQC14iBiAeawaDAQEQ1359UBC0mONe1lnOu7vuf
 sP0KFTZS6srBfQV4NWuvL60Kvvr6ALpwyIGlbBRVERaKuOwTp+PCj2yAYepQ
 amFjg2Zcx8e/cjm6+3bgl996BooYJDEQF1CMQzAGAQ7OqMzhrk0SR48W0LUi
 fiWAPwv3RQDeuPGBqxKtbmtu0qmD/dIIQ5Fv+1xyYSsblirChoWPfWUTNl58
 KgAsOHjldP7vr4XjePjfu3ZBEQfIB1BnHIoxcFY2eqmRcpMOXOm23rjxgatu
 2n7Jj4AyALWE2jJ6tFi39Pk9r+8IuyThkAtL+RK48YMnYMPmU+YMFAC+Smqa
 BiGEP9Lg3PcJiSCljMpstPmqDdi7800cenYUjHQQ10BMgxa5No1IYRGpFm0L
 gB8BQSfy1yf/grctF9b+nUO6rBnB0uBLkQcPLlyy4Kg8LDUJrcXDDXd/HLGE
 MWMNjDEYhgHDMKDr+pwtSilh2zYsa+ao0MjgBP7+T34K4SYRYxkYPAGdxSCg
 gTMN9bo1QuPoW9vpjhyUsdtefr/SAIAb/GzL8nTbrk+1whCAIoIMJVB5sMnF
 uov6YMb1qtLHGEM8HkcsFpsxTFX1JoRAIpGAaZqYnJysahJaOzM45bxe7H7g
 TXDmgpEHMAkFEUlgPWrsSQXL8nRuiLMBPKYBAAnanM+6daivT+HAX5KCFwDo
 KhcuOTj1rN4ZbV4qlUI8Hq+vUfhAZjIZjI2NVX1A6y5egWe2HoRgLhgkwPwR
 jg8g1QkhkM+6YIJvRgigMGh9btKtI0pcGTnxx7AyGr5xnXD8yYtntH2FQgHx
 eLwm6ZtKmqYhmUwim81OO7ZydQ+0OCAtD4o8f8jIVOBMl4JotaqxlXeRyhjr
 AYADgDCw0so7QFTx/EsphqfKih9xSbYYAAhKqarFdV3Ytj0jo2HHMVfnE0rx
 1PqJCE2LYiD44PnhszCMVuK91mLlHQgDK4GgF9ZM1mXl3XniP9PdImIqBDLT
 Fpvz5rPZLGKxWPS353nI5/OwbRueVwqjmaaJ5uZmCCGm1cEYg2maKBSmBz9S
 rTGMDxTKeKN6hK6CrLwLzWRdAKBtWXN/b6qD4p4zu2tQncrVICz+0wUpJDLm
 nD6fbduwbRtEhGw2O6NEFotFKKXQ3t5e9bgQompbibQBUA7EVIm3ChWunXys
 ZHzLmvt7NQh1eTHv1WH/gHIXJorjRTLoq+h8fL/h4eF5nRe6LdVsJmOsah2u
 41Xa6IhXPmd7s1Ex7wJCu1zjGs5sVH3LYQz3AATH8hZ81DFThyOlrNqWbTll
 tq5E1EAvDPhqbJramRrn1OU53rQG5kfTVTiURB9AZ0EBNE1zRgAdp3pbdtEB
 Iu0odSCNq7GHeJy6NHBKKhlWWiuVAKxkzGfYtpx5qeZ8qa2trSqARIRisVi1
 LatooyzUEfHKwNEIgEoqgFNSYwxJKevPEyjr2yLbF4bnbctdMAns7OxEIpGo
 eiybzcJxqgdBbMsFQfgRcqYqeG2kO5aSwBiSGjjFGpPAcqmrLLYzv05kNuKc
 Y8mSJUilUlWPe543aydkWzYIsQq+fGlcEAmMaYxjQQD0I9ESIAmChCIPJ65e
 3JAEapqG3t7eCj+x4iaUwuHDh2d1xleetgSvPDoEYiXefJemMRuopALjiHHG
 yZSq0gWZ76dkmlW0lZBQ8EBc4YIPr4lCUbUWTdPQ19cXDfWmFqUUDh06hEKh
 MGs9mz66FkwjKHgBb2oKz/XcOUEqBcbJ1Bhjpi+BtRJV/KQyNVYkse7iPnQt
 a61LAhlj6O3thWlWf8lk2zYOHDgwazgrpEXdTdhw2Qo898sjKA3lpo5GareF
 SiowxkyNcej1qXAUBQyYkqCy7eK+lrrtX3d3N5LJ6u9Kcrkc9u/fXzHMm4sW
 L2/BTuoHsdJ42OeZBb1x7RSosK5xDr3RdNxyZyZUaseurwdmjKG9vb2quzI5
 OYk9e/bU/GBs262ihA0Nh6EkgXPoGuMQUobOby1Ucgcq2fK3njt3FKUaJRIJ
 GMb06LWUEvv27avroTiWi/IIzFR+6yHpS6DQ6vfKS3LnBydLT5TBH4PWc7OG
 YVSVvomJiRl9vbnIdbwK3vzS+GgEIGhKKckFuPTqA9B/NUNlf/ufQtauC0BN
 06oCONNQbT6Un7TKMgtD3in4qz4AuWBQSklNKXKZYDrVkWBfLoOlZ8sBJrB/
 9xDoqtqZc123alwvDHnVQ/t3DwFM+LxF8scakj0mGJQiVyNFLhelzM6aKgnt
 CANAUfYeBARGjkxidGgSze3VRxAz0dDQEIaGhmrmZSYaH85h5EgecZYJcgcD
 EBlQksLa758LBlLkcqmUzQVQT2i7XBX8tFsWJD5qENCw57mBuh3phSp7nhvw
 X2VC83NjWHl2TP33zAUglbI1pZTNeHksrxYq9btAaP+CrFHoeH3XINZtWlFH
 vQtHr+8a9JOLmACDiOxgyZGpT5EZB5RStkakLM553Z1RqAIEDkYiUGAdAgaO
 vJbFgZcGsfzkzprrjcfjSCaT8DwPuVyuJsc5pIMvD+HIa1noSEJAB4cAIwEw
 DkaN5fP7GRPK0kiSVVLhemiKGsNXYQ0GpHJw3x07cOUX12HZyvmlsOm6jtNO
 Ow3d3d3RPtd18eqrr+LAgQPz5urw3rdw3x3PgqsYNGaAQ4tyYip73/qkkAuA
 JFlckcr7nUgjFGbQC9/+MR2CGdBZHHB03HP7Nuzd1T8vm7Vq1SosWbIEnPOo
 mKaJ1atXo6OjY1517N3Vj3tu3wY4OnQWh2BGkCOogbFQjRu7Zy4YFKk8VyoE
 sF6DWnJKfSfG74f99FsDOouBOQbuvXM7nnt0z4zviMPS09NTAV556enpmfP6
 5x7dg3vv3A7mGEGCpQEtUF8eZWWVOzH1diIMSqm8RkoNagavsxMJqexqBjAS
 YEyDIB0KJjTmZys89OMXcNwJnWhelK5ai2masyYXpdPpWX3B8ZEcHvrJCxBI
 QGMxCJgQ0MGYBgYRCR2VfddLmsFBSg1y1/WeiiV1NNKlA4ieqJ9N7yczCqYH
 Cd8GdGaCeRoe/MnOGaUnfPc7kwTmcrlZpe/h/9oF5mrQmRm1K5geJFaWT3lo
 TPoAQiypw3W9p7iS8lfx1NwpZXNTebpYaA9FMB3BgMZMCJg49MIw+l8fmtF+
 DQwMzAjgG2+8MeN1Rw4dw/7nBn2pi8DT/J6XiRJfEY+NUTylQ0n5K37X8589
 pEBFEahxo5/K3o0HvpcI/EMNDBoOvnJ0Ril6+umn8eabb1Yw63keduzYgf7+
 /hmvO/TKUbAg98/vcf02S8M3oFo0pp6PMDgUqHjX8589pAGAU3QG40l9ebau
 9I5yKs/6DHPwgilZYWECA/uOzRgYKBaL2Lp1KzKZDJqamuB5HkZHR2d97wEA
 /fuGg8k1pRJ6ByXeyrf1Uzypwyk6g0CQXOQ6zt5YUl+eHat9Wtd0KovSMIoE
 MpplCYah/ur5fOU0MTGBiYmJebc61D8OBmNKWI0BrLGoSzWKJXW4jrMXCAD0
 XG9HLGlesjCNTDXQpZQyXwEUWjpSC57y0dKRxMhBp8yULMzry2oUS+rwXHsH
 gtrhed6DZkpfAOtQ/p5ORRMJVZAvqOBBkURnb/OCBw06e5uhKGgjyAcM5+Cp
 KQ+w0bs0Uzo8z3swAtAuuk/oBveE1kjGUsm7KjGqym7GB4+YxHtPWzqnQ1xr
 OeG0pSAWZqKWAKQK8Cp5rYeExqEb3LOL7hMRgD/ce53KZwsvNnckUJ9fVJ7x
 GagsSRD8G5Lk+AUOjl/djo6ehZfA1q4MVq7vhoQLSS4kOVDk+u+oSZb4msJz
 raW5I4F8tvDiD/depyIAAaCQL9zW0pWqW21VJHH+ZGoJf26wBycqEBIbLl25
 4NIXlnUXrwDTVVmbAZjwoonepVfq9alzS1cKhXzhthC3CMDv7d5yN+NqLJGu
 /jJ7OpUigaXvMLEotHmhNPhl/eXHI9Ucf9uCp4m0iY1XvKeiTQU3AK40J7nk
 D5buYz6USJtgXI19b/eWu8N9FXPl8pO5+1q6klcXsnO98acp3wFDEXgeVHQD
 DiRcnHJ+N048o+dtneYFACvXdcOadPHSQ0NQEJAUrq9A4CAQicC1Kb0bKbk5
 s/uILV1J5Cdz95Xvq+g1LMv620xrXM0enali74J0jrAHDKc5+BLooW9tG9Zs
 7n3HwvinXrAUKza2RzxJuBWdi2+fyzMU5raLXDBkWuPKsqy/Lcds2oz1z511
 x+7JY+6q0cHp8y5mkzwVpHVICkF0IeGgd30Gay5fAsYXZpWh+RIR4flfH8XB
 7ZPgpEXxwGh8HCxSUYoNVq71MZVau9LILNKfv/PJz68u3z9txnohn7+1vWfR
 3ePDeVQmHc2mtmEHUvodb9Gw6opOtC9P+ufVuGzKQtD7LunC4hMyeOG+ERTH
 y+x0mBFD8MP70R1WV2cuONp7MhgbOXbr1DaqrtrxmTNufwTSOK9/z3DF/tDs
 VoJHgd3zXRfFJI7bkMDK85sgjMYy4ReKpEvY89txHH6mAE6i7AVTsN7MlJns
 U9+WLH1vOyCcR7/99LXnT6276qod+cLEpa2tnf2tnalFo0PlqlySvPBpltvD
 1l4dfRe0oGmxHx57uzuM+RITwAmbmtB9UgL7H8lj7JAHQAUwcZQytcKOpSSL
 rZ1pmEl+bHR04tKqdc80qP/EqpvPaO/seuzgi0OaVXCnSx8ICCQws4zj+HNi
 aF62EHHFt5/GD7s4+LiFicMqCDiUrXxUJoWxhI7lp3Z6w0OD5/778zc8Xa2u
 WZd++tO1f3dTU6b1htd3H4GMpKkEYFMPx7KzdDQfN+cSXO9KGn/Dw+EnXUwM
 qGkACs7xntWLMTE5evO/7fybG2eqY87V2z5z5m3bII2N/XvfChaFJRgZ4PhN
 Blr7ps9b+12k0f0SB37jwJkEAAbOGZau7ACEvf3bT33p9NmunVN0ctmJC1Pp
 zMMrVi3Z2L9vGM0nueg5XYDr7F1j4xql5uUMq682MLBNYvwVHT0r2mE7ue3H
 xo5eNNe181qAkTHG/uLsm/9h9Ye6txTVOMvlcgvC+LuNUqkU4ryZdv/86De+
 +8QN19E8wJmX8SIiYoxd94WlX315+fs672prM7WRkZH/NxLIOUdbWxtkTnh7
 X+i/5rtPfP0H8722pjVUGWPsg2uuSZ249j27lq5p6svmJ5DP539ngeScI5lM
 Ip1sQv+uif2v7nx9zX/vuisH+EIznzpqXsWXBemjn9r01b9atq7ppkXLk5lC
 oTDrXN93G5mmiXQ6jUQigWMH85OHn5248Tu/+fo/AfMHLqSGF+K+9pPXX5SI
 pb7Rfnz6FCPJeDabRTabfddJJecc6XQa6XQaTp7U8IHsSwUrt+X279/yUCP1
 LuhS8J/9wFdvWLQs87mOvmQ7dMkcx0FYbNuec8GchSIhBEzTjNaiMQwDcAW9
 tT8/fOzw5J3fuu/rMy7pWSu9Lf+M4KzFHxZrzj7xmljS+EA8bZyUaDI7Uq2m
 ocUYs20bjuPA8zwQlRakCH9P3QcgWsGIcx79nrpP0zQYhgHTNOFZRLlR2ylM
 2G8Vs84rVt65b9cTr9715JF7FvwJvi0AzkSffv/163VD++NYyjjDTIsuYbCY
 0LghNK5xjQnN4ELonAudM01njAcvuZSn4LlE0lUkXaU8R0nlkZSe8qSnHOmQ
 ZWfloJVznnYd74f/8otbdrxT9/R/+325jbnBk80AAAAASUVORK5CYII=

Package: lookalike-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lookalike (=${binary:Version})
Description: Debug symbols for the Look Alike application.

Package: lookalike-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: API documentation for Look Alike

Package: lookalike-l10n-engineering-english
Section: devel
Architecture: any
Depends: ${misc:Depends}
Enhances: lookalike
Description: Engineering English translations for Look Alike
